@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.app-wrapper {
  margin-bottom: 50px; }
  .app-wrapper * {
    outline: none !important;
    font-family: 'Noto Serif', serif; }

.header {
  text-align: center;
  color: #777; }

.title {
  font-size: 30px;
  margin-bottom: -3px; }

.framework {
  font-size: 22px;
  margin-bottom: 3px;
  margin-top: 6px;
  font-weight: bold; }

.author {
  font-size: 19px;
  margin-bottom: 6px;
  margin-top: 0; }

.app {
  margin-top: 10px; }
  .app .section {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; }
    .app .section .section-header {
      font-size: 24px;
      margin: 22px 0 12px 0; }
    .app .section .section-list {
      margin-left: 0;
      padding-left: 0; }
      .app .section .section-list li {
        list-style-type: none;
        font-size: 18px;
        margin-bottom: 5px; }
        .app .section .section-list li span {
          margin-left: 5px; }
          .app .section .section-list li span.complete {
            color: #bbb;
            text-decoration: line-through; }

.control {
  color: #456ca3 !important; }
  .control .section .section-list li span.unvisible {
    color: #6493bb;
    text-decoration: line-through; }

.strikethrough {
  color: #6493bb;
  text-decoration: line-through; }

#app li {
  display: none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }
#app .male, #app .female {
  display: block; }

.done {
  background-color: #c2dddc; }

.problem {
  background-color: #ddbdba; }

.notifications {
  color: #337ab7;
  display: none; }

.warning {
  color: #a33334; }

#info {
  display: none; }

.to-app {
  text-align: center; }

.tac {
  text-align: center; }

.btn-color1 {
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #f1f1f1 50%, #eee 51%, #f6f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 0%, #f1f1f1 50%, #eee 51%, #f6f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #f1f1f1 50%, #eee 51%, #f6f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-9 */ }

.btn-color2 {
  background: #f3f3f3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #e6e6e6 50%, #dadada 51%, #fafafa 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e6e6e6 50%, #dadada 51%, #fafafa 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3f3f3 0%, #e6e6e6 50%, #dadada 51%, #fafafa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#fafafa', GradientType=0);
  /* IE6-9 */ }

.btn-color3 {
  background: #eee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eee 0%, #e1e1e1 50%, #ddd 51%, #e6e6e6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eee 0%, #e1e1e1 50%, #ddd 51%, #e6e6e6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eee 0%, #e1e1e1 50%, #ddd 51%, #e6e6e6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e6e6e6', GradientType=0);
  /* IE6-9 */ }

/*Bootstrap*/
.form-control[disabled], fieldset[disabled] .form-control {
  cursor: auto; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: inherit; }

@media screen and (max-width: 560px) {
  .to-app {
    font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
